<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Survey</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('partials/header') %>
  <div class="edit-survey-form">
    <h2>Edit Survey</h2>
    
    <form action="/surveys/<%= survey._id %>?_method=PUT" method="POST">
        <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= survey.title %>" required>
        </div>
        <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description" required><%= survey.description %></textarea>
        </div>
        
        <% survey.questions.forEach(function(question, questionIndex) { %>
        <div class="question">
            <label for="questionText">Question:</label>
            <input type="text" name="questions[<%= questionIndex %>][questionText]" value="<%= question.questionText %>" required>
            <div class="options-container">
            <% question.options.forEach(function(option, optionIndex) { %>
                <label for="optionText">Option:</label>
                <input type="text" name="questions[<%= questionIndex %>][options][<%= optionIndex %>]" value="<%= option.optionText %>" required>
            <% }) %>
            <button type="button" class="add-option">Add Option</button>
            </div>
        </div>
        <% }) %>
        
        <button type="submit">Update Survey</button>
    </form>
  </div>
  <script>
    // Similar JavaScript as in new-survey.ejs to handle adding new options dynamically
  </script>

  <%- include('partials/footer') %>
</body>
</html>
